# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build outputs
.build/
build/
out/

# Documentation
/docs/include
/docs/html
/docs/latex
/docs/doxygen-awesome-css
components/
/docs

#Commands
/.cmd

#config
/.vscode
/.vscode_nano
/.vscode_ProMicro
/.vscode_ESP32_DEV
/.vscode_doitESP32devkitV1

#assets
/assets/class_debuggery__.png

#temporary
library.json

#examples
/examples/avoid_overhead
/examples/current

